.text-gotham {
    /* Fonts เขียน class ไว้ใน Header Footer*/
    /* font-family: Gotham; */
    font-family: "Exo 2", "Nanum Gothic", Helvetica, Arial, sans-serif;
}

.product-font {
    font-family: "Exo 2", "Nanum Gothic", Helvetica, Arial, sans-serif;
    font-weight: 600;
}